<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&family=Roboto:ital,wght@0,700;1,400&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="../../assets/logo_ba7eedb67a.svg" alt="logo"
                    style="width:130px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/Laser" href="#treatments">laser hair reduction <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dermafacial" href="#dermafacial">dermafacial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/skintreatments" href="#skintreatments">skin treatments</a>
                    </li>
                    <li>
                        <div class="dropdown" style="position: absolute;margin-left: 490px;">
                            <i class="fa fa-headphones mt-3" aria-hidden="true"></i>
                            <div class="dropdown-content mt-3">
                                <div class="support mt-3 ml-5">
                                    <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> +91-7845127845</a>
                                    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@skinnsi.com</a>
                                    <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +91-7845127845</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <form class="form-inline my-2 my-lg-0" style="margin-left: 537px;">
                            <button type="button" class="btn btn-outline-danger">Login</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="main">
        <div class="container">
            <div class="row h-100 align-items-center">
                <div class="col-md-6">
                    <h1>not your average facial!<img src="https://assets.toothsi.in/banner_star_943606f3e0.png" alt="">
                    </h1>
                    <p>A powerful, non-invasive skin rejuvenation facial designed by expert dermatologists to give you
                        the best skin of your life.</p>
                    <div class="row my-5">
                        <div class="col mb-5">
                            <div class="card flex-row flex-wrap">
                                <div class="card-header border-0">
                                    <img src="https://assets.toothsi.in/painless_401d8c19be.svg?q=75&w=48" alt="">
                                </div>
                                <div class="card-block my-2">
                                    <div class="card-text">completely <br> painless service</div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="card flex-row flex-wrap">
                                <div class="card-header border-0">
                                    <img src="https://assets.toothsi.in/dermats_a3de2e889e.svg?q=75&w=48" alt="">
                                </div>
                                <div class="card-block my-2">
                                    <div class="card-text">personalised <br> treatment</div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="card flex-row flex-wrap">
                                <div class="card-header border-0 ">
                                    <img src="https://assets.toothsi.in/FDA_fbce677524.svg?q=75&w=48" alt="">
                                </div>
                                <div class="card-block my-2">
                                    <div class="card-text">FDA approved</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="image mx-5 my-5">
                        <img src="https://assets.toothsi.in/hydraglow_hero_desktop_434b888529.png?q=75&w=750"
                            style="margin-left: 147px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="message  text-center my-5 ">
            <h2>choose a solution</h2>
            <p>that better fits your skin need</p>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-lg-6 col-md-8 mb-3">

                <div class="card">
                    <img class="card-img-top" src="https://assets.toothsi.in/hydraglow_card_desktop_1fc1b89ac3.jpg"
                        alt="Card image cap">
                    <div class="card-1">
                        <div class="card-body">
                            <h5 class="card-title ml-5">hydraglow treatment</h5>
                            <div class="card-text">skin rejuvenation likenever before.</div>
                            <button type="button " class="btn btn-danger btn-sm my-2">view details</button>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-8 mb-3">
                <div class="card">
                    <img class="card-img-top" src="https://assets.toothsi.in/forbrides_card_desktop_e1b70fb59b.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title ml-5">for brides to be</h5>
                        <div class="card-text">get the best skin for the best moments of your life</div>
                        <button type="button" class="btn btn-danger btn-sm my-2">view details</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="lhr">
        <div class="container">
            <div class="row my-5">
                <div class="col mb-3 my-5">
                    <h1>Why skinnsi hydra glow treatment?</h1>
                    <p>every skin concern is unique and so should be its treatment. We will curate a treatment that’s
                        right for you, exclusively for you.</p>
                    <h5>personalized treatment</h5>
                    <li>
                        Skin assessment by our expert dermats
                    </li>
                    <li>Personalised treatments curated by dermats and performed by a dermat trained <br> therapist</li>
                    <li>Online dermat supervision and post session care</li>
                </div>
                <div class="col mb-3 my-5">
                    <img src="https://assets.toothsi.in/hydratreatment_whyhydratreatment_01_desktop_ea12e8e1d5.png"
                        alt="">
                </div>
            </div>
            <div class="row">
                <div class="card flex-row flex-wrap">
                    <div class="card-block my-5">
                        <h4 class="card-title">for all skin types</h4>
                        <h6 class="card-text">dehydration and dullness spare no one, not even oily skin. lucky you, our
                            hydra glow facial is for all skin types!</h6>
                    </div>
                    <div class="card-header " style="margin-left: 76px;">
                        <img src="https://assets.toothsi.in/star_cc228d811c.svg?q=75&w=64" alt="">
                        <img src="https://assets.toothsi.in/Group_48097175_3b4cdc4086.png?q=75&w=256"
                            style="height:160px;" alt="">
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col mb-3 my-5">
                    <h5>concerns it treats</h5>
                    <p>to say our hydra glow treatment is pampering is an understatement. While rejuvenating your skin,
                        here are some of the concerns it’ll also take care of:</p>
                    <div class="row">
                        <div class="col-md-6">
                            <li>it leaves a hydrating glow.</li>
                            <li>it eliminates gunk, bacteria, and toxins.</li>
                        </div>
                        <div class="col-md-6">
                            <li>oily skin</li>
                            <li>clogged or enlarged skin pores</li>
                        </div>
                    </div>
                    <br><br>
                    <h5>It's benefits are</h5>
                    <p>to say our hydra glow treatment is pampering is an understatement. While rejuvenating your skin,
                        here are some of the concerns it’ll also take care of:</p>
                    <div class="row">
                        <div class="col-md-6">
                            <li>it prevents new pigment formation.</li>
                            <li>it reduces the chances of new acne and pimples.</li>
                        </div>
                        <div class="col-md-6">
                            <li>oily skin</li>
                            <li>clogged or enlarged skin pores</li>
                        </div>
                    </div>
                </div>
                <div class="col mb-5 my-5">
                    <img src="https://assets.toothsi.in/hydratreatment_whyhydratreatment_02_desktop_1e787bc63e.png"
                        alt="">
                </div>
            </div>

        </div>
    </div>
    <div class="container ">
        <div class="message  text-center">
            <h1>How do our laser hair reduction packages work exactly?</h1>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card_icon" style="width: 10rem;">
                    <div class="card-img-caption">
                        <img class="card-img-top"
                            src="https://assets.toothsi.in/How_it_works_home_service_desktop_e07394ec80.png"
                            alt="Card image cap">
                    </div>
                    <div class="card_info mt-4">
                        <p>the therapist comes home</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card_icon" style="width: 10rem ;">
                    <div class="card-img-caption">
                        <img class="card-img-top"
                            src="https://assets.toothsi.in/How_it_works_assessment_desktop_81e77f2d67.png"
                            alt="Card image cap">
                    </div>
                    <div class="card_info mt-4">
                        <p>they shave the area to be treated</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card_icon" style="width: 10rem;">
                    <div class="card-img-caption">
                        <img class="card-img-top"
                            src="https://assets.toothsi.in/How_it_works_plans_desktop_d22690b93c.png"
                            alt="Card image cap">
                        <div class="card_info mt-4">
                            <p>a cooling gel is applied</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card_icon" style="width: 10rem;">
                    <div class="card-img-caption">
                        <img class="card-img-top"
                            src="https://assets.toothsi.in/How_it_works_digital_desktop_88d5430f27.png"
                            alt="Card image cap">
                        <div class="card_info mt-4">
                            <p>a cooling gel is applied</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="loveletters">
        <div class="container">
            <div class="message  text-center my-5">
                <h1> love letters</h1>
                <p> <b> Sweet client.Sweet testimonials </b>.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4" style="width: 18rem;height: 22rem;">
                        <div class="card-body">
                            <div class="card_info">
                                <h5>Ruchi Dangayach</h5>
                                <p>mumbai</p>
                                <div class="card-text">I have done my hydra facial with Gauri...A great experience and
                                    hygine....better than to go parlour
                                    than to go parlour</div>
                                <ul class="list-inline rating-list" style="margin-top:78px;"
                                    *ngFor="let star of stars; let i= index">
                                    <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}"
                                        (mouseover)="addClass(star)" (mouseout)="removeClass()"> <span
                                            class="material-icons"><i class="fa fa-star" aria-hidden="true"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;height: 22rem;">
                        <div class="card-body">
                            <div class="card_info">
                                <h5>Neha Gupta</h5>
                                <p>Chandigrah</p>
                                <div class="card-text">I loved the service,at home and hyginic.The problem of stepping
                                    out for getting
                                    waxing and facial is solved now.Guys go for it</div>
                                <ul class="list-inline rating-list" style="margin-top:78px;"
                                    *ngFor="let star of stars; let i= index">
                                    <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}"
                                        (mouseover)="addClass(star)" (mouseout)="removeClass()"> <span
                                            class="material-icons"><i class="fa fa-star" aria-hidden="true"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;height: 22rem;">
                        <div class="card-body">
                            <div class="card_info">
                                <h5>Niang Nancy</h5>
                                <p>Mumbai</p>
                                <div class="card-text">My husband had taken Hydra Facial with chemical peel from
                                    Skinnsi. The result was
                                    awesome. His face look fresh and bright. All his death skin were removed. </div>

                                <ul class="list-inline rating-list" style="margin-top:78px;"
                                    *ngFor="let star of stars; let i= index">
                                    <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}"
                                        (mouseover)="addClass(star)" (mouseout)="removeClass()"> <span
                                            class="material-icons"><i class="fa fa-star" aria-hidden="true"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="message text-center my-5 ">
          <h1>#skinnsitribe</h1>
          <p> <b>See what our skinnsi tribe has to say</b>.</p>
        </div>
        <div class="row">
        <div class="col-md-4">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/pWahNIMRxR0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title text-center">Alina Gala</h5>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/pWahNIMRxR0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title text-center">Isha Jhaveri</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/pWahNIMRxR0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title text-center">Rabiya</h5>
         </div>
      </div>
    </div>
    </div>
    </div>
    
  
    <div class="container">
        <div class="message text-center my-5 mx-5">
            <h2>FAQ</h2>
        </div>
        <b> 01. Is an at-home laser hair reduction treatment safe? </b><span><i class="fa fa-angle-down"
                style="margin-left: 60%;" (click)="collapse.toggle()" [attr.aria-expanded]="!laser"
                aria-hidden="true"></i></span>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="laser">
            <br>
            <p>Yes, getting the treatment at home is as safe as the clinic. You will experience the same dermatologist
                supervision and trained therapist treatment at home.</p>
        </div>
        <hr>
        <b>02. What are the safety precautions taken by the therapist during the session?</b><span><i
                class="fa fa-angle-down" style="margin-left: 46%;" (click)="collapse.toggle()"
                [attr.aria-expanded]="!laser" aria-hidden="true"></i></span>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="laser">
            <br>
            <p>All our therapists will be wearing personal protective equipment (PPE) as per WHO guidelines. They will
                sterilise the machines and equipment before using it.</p>
        </div>
        <hr>
        <b> 03. How permanent is laser hair reduction? </b><span><i class="fa fa-angle-down" style="margin-left: 66%;"
                (click)="collapse.toggle()" [attr.aria-expanded]="!laser" aria-hidden="true"></i></span>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="laser">
            <br>
            <p>There will be up to 90% hair reduction in an average of 6 sessions.</p>
        </div>
        <hr>
        <b>04. Is it cost-effective?</b><span><i class="fa fa-angle-down" style="margin-left: 78%;"
                (click)="collapse.toggle()" [attr.aria-expanded]="!laser" aria-hidden="true"></i></span>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="laser">
            <br>
            <p>At Rs. 59,999, skinnsi’s laser hair reduction treatment is very cost-effective. On an average, the amount
                spend
                on hair removal in salons over the lifetime is about 1.8-3.6 lacs. Talk about savings!</p>
        </div>
        <hr>
        <b>05. Who can get laser hair reduction done?</b><span><i class="fa fa-angle-down" style="margin-left: 66%;"
                (click)="collapse.toggle()" [attr.aria-expanded]="!laser" aria-hidden="true"></i></span>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="laser">
            <br>
            <p>Men and women above the age of 14 years can opt for laser hair reduction. It’s safe for all skin types.
            </p>
        </div>
        <hr>
    </div>
    <div class="lhr">
        <div class="container  mt-5">

            <div class="row my-5">
                <div [class.show]="show">
                    <h4>what is dermafacial & hydra-facial treatment?</h4>
                    Tired of the same old facial at the salon? We feel you, and have got a refreshing alternative just
                    for you!
                    Say hello to dermafacial by skinnsi - a dermatologist-backed facial solution that’s curated as per
                    your skin
                    type and uses new-age technology that lets you pamper

                    <ng-container *ngIf="showMore1">

                        At skinnsi, we’ve got a variety of dermatologist-backed facial solutions, one of which is
                        hydra-facial
                        treatment. Designed by our dermats using patented technology to cleanse, exfoliate & hydrate,
                        hydra-facial
                        treatment is the best dermafacial solution for dry skin. <br> <br>

                        <b> What are benefits of a dermatologist-backed facial by skinnsi?</b>
                        <br>
                        You already know that it’s curated by our dermats specifically for your skin type, but when it
                        comes to the
                        benefits of dermafacial, there’s so much more to it than just that! Now that you know what is
                        hydrafacial &
                        dermafacial? Let’s get to know each benefit in greater detail, shall we?

                        It’s like a spa session for your face, dermafacial which gives your skin the pampering it so
                        deserves!
                        Because let’s be honest, from sweaty rush-hour travel in the scorching sun to combating air
                        pollution, your
                        skin has to deal with a lot on a daily basis. Add to it factors like stress and you’ll see it
                        all start to
                        take a toll on your skin. So why keep waiting to rejuvenate your skin? Do it with one of our
                        dermatologist-backed facial solutions like hydra-facial treatment!

                        New-age technology paired with our dermats’ expertise means that your skin will start to feel
                        fresher,
                        smoother and more radiant right after your first session of dermatologist-curated facials like
                        hydra-facial
                        treatment. Isn’t that amazing?

                    </ng-container>
                </div>

            </div>
            <button class="btn btn-danger btn-sm mb-2" (click)="showMore1= !showMore1">show
                {{showMore1 ?'less':'more' }}</button>
        </div>
    </div>
    <!-- footer started -->
    <footer class="skinnsi_footer">
        <div class="container">
            <div class="row"></div>
            <div class="row mt-5  ">
                <div class="col-md-3">
                    <a class="navbar-brand" href="#"><img src="../../assets/logo_ba7eedb67a.svg" alt="logo"
                            style="width:130px;"></a>
                </div>
                <div class="col-md-3">
                    <h5>everything skinnsi</h5>
                    <ul>laser hair removal</ul>
                    <ul>dermafacial</ul>
                    <ul>hydraglow treatments</ul>
                </div>
                <div class="col-md-3">
                    <h5>about the brand</h5>
                    <ul>about us</ul>
                    <ul>blog</ul>
                    <ul>reviews</ul>
                </div>
                <div class="col-md-3">
                    <h5>chat with us</h5>
                    <ul><i class="fa fa-whatsapp" aria-hidden="true"></i> +91 8294562315</ul>
                    <ul><i class="fa fa-phone" aria-hidden="true"></i> +91 4798524545</ul>
                    <ul><i class="fa fa-envelope-o" aria-hidden="true"></i> info@skinnsi.in</ul>
                </div>
            </div>

            <hr>
            <div class="row mt-3 mb-2">
                <div class="col-md-1">
                    <img src="https://skinnsi.in/_next/static/image/assets/images/CE.161b4c398a389b882392cfc60e7b366e.png?q=75&w=64"
                        width="30px"> &nbsp;
                </div>
                <div class="col-md-4">
                    <span>
                        terms of use | privacy policy | refund policy
                    </span><br>
                    <i class="fa fa-copyright" aria-hidden="true">2022 skinnsi. All Rights Reserved.</i>
                </div>
                <div class="col-md-4"><span><i class="fa fa-facebook-square" aria-hidden="true"> </i>
                    </span>&nbsp;&nbsp;
                    <span><i class="fa fa-instagram" aria-hidden="true"></i></span>&nbsp;&nbsp;
                    <span><i class="fa fa-youtube-play" aria-hidden="true"></i></span>&nbsp;&nbsp;
                    <span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span>
                </div>
                <div class="col-md-3">
                    <h6>looking for great smile <span></span></h6>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of the footer -->