h1,
h2 {
  color: #e03c31;
  font-size: 3pc;
}

.main {
  background-color: #ace0f0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(241 4 50 / 93%);
  background-color: white;
}

.card {
  border-radius: 2pc;
}

.lhr {
  background-color: #d6ecf3;
}

.card-icon {
  border-radius: 0;
}

.skinnsi_footer {
  background-color: #CBECF6;
}

.loveletters {
  background-color: #f5f9fa;
}
.rating-list {
  display: inline-block;
  list-style: none;
}
.rating-list li {
  font-size: 20px;
  float: right;
  color: #ddd;
  padding: 10px 5px;
}
.rating-list li:hover {
  color: #ffd700;
}
.rating-list li:hover ~ li {
  color: #ffd700;
}
.rating-list li.selected {
  color: #ffd700;
}
.card_info {
  text-align: center;
}

.card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 25%);
}

.fa fa-angle-down {
  margin-left: 60%;
}

.container_define {
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}

.show {
  overflow: visible;
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.fa {
  color: red;
}
@media only screen and (min-width: 768px) {
  iframe{
    height: 13em;
  }
  .card_video{
    width: 50%;
  }
}
