*body{
    text-emphasis-color: red;
  } 
  .navbar-light .navbar-nav .nav-link {
    color: rgb(241 4 50 / 93%);
  }
  
  .main{
      background-color: #ace0f0;
  }
  h1,h2,h3{
    color: #e03c31;
    font-size: 3pc;
    letter-spacing:1px;
}

.card{
    border-radius:16px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 25%);
}  
.card_info{
    text-align: center;
    }
.booking{
      background-color: #ddf2f9;
      height: 315px;
  }
  .loveletters{
    background-color: #f5f9fa;
    margin-top: 7pc;
  }
  .rating-list {
    display: inline-block;
    list-style: none;
  }
  .rating-list li {
    font-size: 20px;
    float: right;
    color: #ddd;
    padding: 10px 5px;
  }
  .rating-list li:hover {
    color: #ffd700;
  }
  .rating-list li:hover ~ li {
    color: #ffd700;
  }
  .rating-list li.selected {
    color: #ffd700;
  }
  .skinnsi_footer{
    background-color: #CBECF6;
  }
  .lhr{
    background-color: #eafaff;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
 
  
  .fa{
    color: red;
  }
  @media only screen and (min-width: 768px) {
    iframe{
      height: 13em;
    }
    .card_video{
      width: 50%;
    }
  }
  